# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

____

# Data types

### Numbers

In [7]:
1 + 1

2

In [8]:
1 * 3

3

In [9]:
1 / 2

0.5

In [12]:
2 ** 4

16

In [13]:
4 % 2

0

In [15]:
5 % 2

1

In [28]:
(2 + 3) * (5 + 5)

50

In [29]:
2 + 3 * 5 + 5

22

In [35]:
2 + 3 * (5 + 5)

32

In [36]:
# Floor Division
23 // 10

2

### Variable Assignment

In [37]:
# Can not start with number or special characters
name_of_var = 2

In [38]:
x = 2
y = 3

In [39]:
z = x + y

In [40]:
z

5

### Strings

In [42]:
'single quotes'

'single quotes'

In [44]:
"double quotes"

'double quotes'

In [46]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [47]:
"single quotes because I'm good"

"single quotes because I'm good"

### Printing

In [56]:
x = 'hello'

In [57]:
x

'hello'

In [58]:
print(x)

hello

In [70]:
num = 12
name = 'Sam'

In [71]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [72]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [73]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

### Lists

In [80]:
[1,2,3]

[1, 2, 3]

In [81]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [82]:
my_list = ['a','b','c']

In [83]:
my_list.append('d')

In [85]:
my_list

['a', 'b', 'c', 'd']

In [86]:
my_list[0]

'a'

In [87]:
my_list[1]

'b'

In [89]:
my_list[2]

'c'

In [91]:
my_list[1:]

['b', 'c', 'd']

In [92]:
my_list[:1]

['a']

In [93]:
# ['a','c']
my_list[::2]

['a', 'c']

In [111]:
# ['d','c','b','a']
my_list[::-1]

['d', 'c', 'b', 'NEW']

In [112]:
my_list[0] = 'NEW'

In [113]:
my_list

['NEW', 'b', 'c', 'd']

In [114]:
nest = [1,2,3,[4,5,['target']]]

In [115]:
nest[3]

[4, 5, ['target']]

In [116]:
nest[3][2]

['target']

In [117]:
nest[3][2][0]

'target'

In [118]:
print(nest[3][2][0])

target

### Dictionaries

In [145]:
d = {'key1':'item1','key2':'item2'}

In [146]:
d

{'key1': 'item1', 'key2': 'item2'}

In [147]:
d['key1']

'item1'

In [148]:
print(d['key1'])

item1

### Booleans

In [135]:
True

True

In [136]:
False

False

### Tuples

In [142]:
t = (1,2,3)

In [143]:
t[0]

1

In [149]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [163]:
{1,2,3}

{1, 2, 3}

In [164]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,2,1,3,2,2,2,2,2,1,1,1,1,3,3,3,1,2,2,2,1,1,1,1}

{1, 2, 3}

In [165]:
{'a','b','c','c','b','a','e','z','a','e','e','a','z'}

{'a', 'b', 'c', 'e', 'z'}

### None Placeholder

In [169]:
b = None

In [170]:
type(b)

NoneType

## Comparison Operators

In [171]:
1 > 2

False

In [173]:
1 < 2

True

In [176]:
1 >= 1

True

In [177]:
1 <= 4

True

In [178]:
1 == 1

True

In [179]:
'hi' == 'bye'

False

## Logic Operators

In [189]:
(1 > 2) and (2 < 3)

False

In [190]:
(1 > 2) or (2 < 3)

True

In [191]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [192]:
if 1 < 2:
    print('Yep!')

Yep!

In [193]:
if 1 < 2:
    print('yep!')

yep!

In [194]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [195]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [198]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [210]:
seq = [1,2,3,4,5]

In [211]:
for item in seq:
    print(item)

1
2
3
4
5

In [212]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [214]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [217]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [224]:
range(5)

range(0, 5)

In [225]:
for i in range(5):
    print(i)

0
1
2
3
4

In [231]:
list(range(5))

[0, 1, 2, 3, 4]

In [232]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [233]:
set(range(5))

{0, 1, 2, 3, 4}

In [235]:
dict(range(5))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## list comprehension

In [240]:
x = [1,2,3,4]

In [241]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [247]:

[ item**2 for item in x ]

[1, 4, 9, 16]

In [285]:
[item**2 for item in x]

[1, 4, 9, 16]

In [249]:
# Convert Celsius to Fahrenheit using list comprehension
# multiply the degrees by 1.8 (or 9/5) and add 32.
# Example: 10*1.8 + 32 = 50
celsius = [0,10,20.1,34.5,100]

[32.0, 50.0, 68.18, 94.1, 212.0]

## functions

In [263]:
def my_func(param1='defaults'):
    """
    Docstring goes here to review the documentation.
    """
    print(param1)

In [264]:
my_func

In [265]:
my_func()

defaults

In [266]:
my_func('new param')

new param

In [267]:
my_func(param1='new param')

new param

In [276]:
def square(x):
    return x**2

In [277]:
out = square(2)

In [278]:
print(out)

4

In [284]:
# Create a function that receives a list of float numbers (10) as Fahrenheit degrees
# and convert those into Celsius Degrees
# IF the temperature is above 100C, print: 'IT IS HOT'
# IF the temperature is below 0C, print: 'IT IS FROZEN'
# IN either other cases, print the temperature
# Formula: (Degree �F ? 32) � 5/9 

far = [32.0, 50.0, 68.18, 94.1, 212.0, 64.0, 100.0, 136.36, 188.2, 424.0]

IT IS FROZEN
10.0
20.100000000000005
34.5
IT IS HOT
17.77777777777778
37.77777777777778
57.97777777777779
86.77777777777777
IT IS HOT

## Lambda Expressions

In [343]:
def times2(var):
    return var*2

In [344]:
times2(2)

4

In [345]:
lambda var: var*2

In [346]:
square = lambda var: var*2
square(23)

46

## map and filter

In [327]:
seq = [1,2,3,4,5,6,7]

In [328]:
map(times2,seq)

In [330]:
list(map(times2,seq))

[2, 4, 6, 8, 10, 12, 14]

In [333]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10, 12, 14]

In [335]:
filter(lambda item: item%2 == 0,seq)

In [337]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4, 6]

In [342]:
# Exercise # 4:
# Use filter to process the numbers on a list which are even numbers and above 10
numbers_list = [5,7,9,10,15,23,35,40,45,60,75]

list( filter(lambda item: (item%2 == 0) and (item > 10), numbers_list) )

[40, 60]

## methods

In [353]:
st = 'hello my name is Sam'

In [354]:
st.lower()

'hello my name is sam'

In [355]:
st.upper()

'HELLO MY NAME IS SAM'

In [356]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [362]:
tweet = 'Go Sports! #Sports'

In [363]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [365]:
tweet.split('#')[1]

'Sports'

In [374]:
d

{'key1': 'item1', 'key2': 'item2'}

In [375]:
d.keys()

dict_keys(['key1', 'key2'])

In [376]:
d.values()

dict_values(['item1', 'item2'])

In [377]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [392]:
lst = [1,2,3]

In [390]:
lst.pop()

3

In [391]:
lst

[1, 2]

In [398]:
'x' in [1,2,3]

False

In [399]:
'x' in ['x','y','z']

True

# Great Job!